.demandas-container
  width 100%
  background #ededed
  color #4d4d4d
  text-align center
  
.demandas-content
  @extends $centered-container

.demandas-orcamento-title
  @extends $txt-shadow
  rem(57px)

.demandas-orcamento-subtitle
  @extends $txt-shadow
  rem(22px)
  margin-bottom 2em

.filtro-container
  margin-bottom 3em
  text-align left

.faca-sua-pesquisa
  @extends $txt-shadow
  rem(22px)
  margin-bottom .8em
  text-align left
  font-weight bold

.tabela-orcamento
  width 100%
  border 1px solid #cacaca
  text-align left

  th
    padding .8em
  
  td
    padding .5em
  
  th,td
    border 1px solid #cacaca
    