.nav-container
  @extends $clearfix
  margin-bottom 6em
  
.nav
  @extends $right
  
.nav-list-item
  @extends $inblock
  margin-right 1em
  
  &:last-child
    margin-right 0

.nav-link
  @extends $inblock
  rem(20px)
  color #fff
  
  &:hover
    color #59ffbf